<html xmlns:th="http://www.thymeleaf.org">
    <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Registar Cidadão</title>
    </head>
    <body>

        <h2>Registo de Nascimento</h2>
        <form action="registerCitizen" method="post">

            <pre>
                Nome: <input type="text" name="firstName"/>
                Apelido:  <input type="text" name="lastName"/>
                Sexo:  <input type="text" name="sex"/>
                Data de nascimento:  <input type="text" name="dob"/>
                Nome do pai: <input type="text" name="father"/>
                Nome da mãe: <input type="text" name="mother"/>
                Estado: <input type="text" name="state"/>
                Peso: <input type="text" name="weight"/>
                Província: <input type="text" name="province"/>
                Distrito: <input type="text" name="district"/>
                Localidade: <input type="text" name="village"/>
                Descrição: <input type="text" name="descriptio"/>

                <br />
                <input type="submit" value="register"/>
            </pre>
        </form>

    </body>
</html>